@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root {
    --clr-body: #2D2C27;
    --clr-bg: #FCF4E7;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-body);
}

.outer-container {
    width: 60%;
    height: 90%;
    background-color: var(--clr-body);
}

.outer-container header {
    width: 100%;
    height: 6rem;
    display: flex;
    font-weight: 100;
    font-size: 1.6rem;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem 2rem 0rem 3rem;
    justify-content: space-between;
    background-color: var(--clr-bg);
    font-family: "Kumar One", serif;
}

.outer-container header img {
    width: 8%;
    height: auto;
}

.outer-container main {
    width: 100%;
    height: 85%;
    margin: 1.5rem 0 0 0;
    padding: 2rem 3rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow-y: scroll;
    background-color: var(--clr-bg);
}

.outer-container main::-webkit-scrollbar {
    background-color: #2d2c2769;
    width: 0.5rem;
    height: 0.5rem;
}
.outer-container main::-webkit-scrollbar-thumb {
    background-color: black;
}

.title-container {
    width: 100%;
    height: max-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-container h1 {
    margin: 0;
    font-weight: 200;
    font-size: 5rem;
    font-family: "Kumar One", serif;
}

.title-container img {
    width: auto;
    height: 9rem;
}

.contents-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-info-container {
    margin: 0 1rem;
}

.basic-info-container,
.contact-info-container,
.likes-container {
    width: 18rem;
    height: 20rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-grow: 1;
    border-radius: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
}

.basic-info-container .icon,
.contact-info-container .icon,
.likes-container .icon {
    align-self: center;
}

.basic-info-container p span,
.contact-info-container p span,
.likes-container p span {
    font-size: 3rem;
}

.basic-info-container p,
.contact-info-container p,
.likes-container p {
    margin: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: start;
    font-family: "Londrina Solid", sans-serif
}

.basic-info-container h4,
.contact-info-container h4,
.likes-container h4 {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    font-family: "Londrina Solid", sans-serif
}

.contact-info-container div,
.likes-container div {
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-info-container div .content {
    width: 9rem;
    height: 3rem;
    margin-top: 0.5rem;
}

.likes-container div ul {
    margin: 0.5rem 0 0 -0.8rem;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: "Londrina Solid", sans-serif
}

.likes-container div ul li::marker {
    content: "♥   ";
}